html{
	background-color: #000000;
	height: 100%;
	width: 100%;
}

body{
	margin: 0px auto; // centers
	max-width: 90%;
	padding: 5%;
	width: 90%;
}

#above-shoulders{
	margin: 0px auto;
	width: 50%;
}

#face img{
	margin: 0 auto;
	width: 100%;
	position: absolute;
}

#banner{
	display: block;
	font-family: "Courier New";
	margin: 0 auto;
	text-align: center;
}

.btn{
	font-family: "Courier New";
}

