html{
	background-color: #152535;
}

#initials-house{
	background-color: #455565;
	margin-left: auto;
	margin-right: auto;
	height: 600px; 
	width: 300px; 
}

#K-sprite-div{
	float: left;
	height: 40%;
	width: 80%;
	padding-top: 10%;
	padding-bottom: 10%;
	padding-left: 10%;
}

#L-sprite-div
{
	background-color: inherit;
	height: 40%;
	width: 80%;
	padding-top: 10%;
	padding-bottom: 10%;
	padding-left: 10%;
}

.pixel{
	width: 25%;
	height: 25%;
	float: left;
}

.white{
	background-color: #FFFFFF;
}

.alpha{
	background-color: inherit;
}
