html{
	background-color: #152535;
}


#outer_helper{
	display: table;
	position: absolute;
	height: 100%;
	width: 100%;
}

#middle_helper{
	display: table-cell;
	vertical-align: middle;
}

#inner_helper{
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	background-color: #FFFFFF;
}

#initials-house{
	background-color: #455565;
	height: 600px; 
	width: 300px; 
	position: relative;
	top: 5%;
	left: 5%;
	float: left;
}

#display-case{
	background-color: #676869;
	height: 600px;
	width: 600px;
	float: right;
}

#K-sprite-div{
	float: left;
	height: 40%;
	width: 80%;
	padding-top: 10%;
	padding-bottom: 10%;
	padding-left: 10%;
}

#L-sprite-div
{
	background-color: inherit;
	height: 40%;
	width: 80%;
	padding-top: 10%;
	padding-bottom: 10%;
	padding-left: 10%;
}

.pixel{
	width: 25%;
	height: 25%;
	float: left;
}

.white{
	background-color: #FFFFFF;
}

.alpha{
	background-color: inherit;
}

#pixel_K_00{
}

#pixel_K_03{
}

#pixel_K_12{
}

#pixel_K_15{
}

#pixel_L_00, #pixel_L_03, #pixel_L_12, #pixel_L_15{
}

